/**
 * Created by shellcode on 3/14/17.
 */

#logo {
    padding: 30px;
}

.widget {
    border-radius: .25rem;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    overflow: auto;
    max-height: 450px;
    min-height: 150px;
}

iframe {
    display: block;
    width: 100%;
}

.col_custom {
    /* Columns with same height hack */
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.sortable {
    /* Yes this is absolutly weird but it fixes my bug (see : http://stackoverflow.com/questions/29018135/strange-behaviour-when-dragging-sortable-bootstrap-panels-with-jquery-ui ) */
    border-top: 1px solid transparent;
}

#dock-widgets {
    border: 2px solid black;
    border-radius: .5rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.widget-create {
    width: 50px;
    margin: 10px;
}

.widget-create:hover {
    transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin: 10px;
}

.col_custom > .panel {
    min-height: 200px;
}

.col_custom .panel-heading {
    cursor: move;
}

.default_spacing {
    margin-bottom: 10px;
}

#widgets-container {
    min-height: 300px;
    overflow: hidden;
}

/* animation resize */
.ui-resizable-helper {
    border: 1px dotted gray;
    background-color: cornflowerblue;
    opacity: 0.2;
}

/* placeholder while moving the widget */
.ui-sortable-placeholder {
    background: cornflowerblue !important;
    border: 2px solid midnightblue !important;
    visibility: visible !important;
    height: 100px !important;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}

.map {
    height: 300px;
}

/* the 'dropdown' effect for suggestions fits the input width */
.twitter-typeahead, .tt-hint, .tt-input, .tt-menu, .dropdown-menu { width: 100%; }

.dropdown-menu {
    position: relative;
    z-index: 10000;
}