#logo {
    padding: 30px;
}

.widget {
    border-radius: .25rem;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    overflow: auto;
    max-height: 450px;
    min-height: 150px;
}

iframe {
    display: block;
    width: 100%;
}

.row {
    overflow: hidden;
}

.col_custom {
    /* Columns with same height hack */
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.sortable {
    /* Yes this is absolutly weird but it fixes my bug (see : http://stackoverflow.com/questions/29018135/strange-behaviour-when-dragging-sortable-bootstrap-panels-with-jquery-ui ) */
    border-top: 1px solid transparent;
}

.col_custom > .panel {
    cursor: move;
    min-height: 200px;
}

.default_spacing {
    margin-bottom: 10px;
}

/* animation resize */
.ui-resizable-helper {
    border: 1px dotted gray;
    background-color: cornflowerblue;
    opacity: 0.2;
}

/* placeholder while moving the widget */
.ui-sortable-placeholder {
    background: cornflowerblue !important;
    border: 2px solid midnightblue !important;
    visibility: visible !important;
    height: 100px !important;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}

#maps {
    height: 300px;
}

#map {
    height: 100%;
}
